<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Greeting Exercise</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake-slow.min.css">
</head>

<body>
	
    <div class="headContainer">
		
        <h1>Greeting App</h1>
		
           <a href="/" id="home-anchor">Home</a>
		
		
        <a href="/greeted" id="greeted-anchor">View Greeted Users</a>
		
    </div>

	<div class="greetedUsers">
	<h5 id="greetUsersHead">Number of Greeted Users:</h5>
	<div class="greetedNumber">
	<div id="greetedUsers">
	<p>{{counter}}</p>	
	</div>

	<button class="clear"><a href="/deleteUsers">Clear</a></button>
</div>
</div>
	
    {{{body}}}


	
	<div class="footer">
		<a href="http://github.com/GarethW1994">

			<div class="githubLink"></div>
			<p>GITHUB</p>
		</a>
	</div>
</body>

</html>