<div class="formContainer">
<div class="form">
<h4 id="greetListHead">Show results for {{userName}}:</h4>
<div class="counterOutput">
<h5>Hello, {{userName}} has been greeted {{counter}} time(s).</h5>	
</div>

<div class="backCounter">
<a href="/greeted">Back</a>	
</div>
</div>
	
</div>