
<div class="form">
<form action="/submit" method="post">
    
<div class="input">
    <label>Enter Name: <input type="text" name="name" id="username">
    </label> 
</div>
    
<div class="radios">
    <span>
    <input type="radio" name="language" checked="true" value="English"/>
    <label>Enlgish</label>

    <input type="radio" name="language" value="isiXhosa"/>
    <label>isiXhosa</label>
    
    
    <input type="radio" name="language" value="Afrikaans"/>
    <label>Afrikaans</label>
    </span>
    
</div>
    
<div class="button">
    <button type="submit" class="myButton">Greet Me</button>
</div>
    
</form>
</div>
